{% load django_bootstrap5 %}
{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>Git Lurker</title>

        {% bootstrap_css %}
        {% bootstrap_javascript %}
    </head>

    <body class="bg-dark">
        <main role="main" class="container text-bg-dark">
            <div>
                <nav class="navbar bg-dark border-bottom border-bottom-dark" data-bs-theme="dark">
                    <div class="container-fluid">
                        <a class="navbar-brand text-light bg-dark fs-3" href="{% url 'index' %}">
                            <img src="{% static 'lurkey.png' %}" alt="Luker in the deep" width="50" height="50" class="rounded d-inline-block align-text-middle">
                            Git Lurker
                        </a>
                    </div>
                </nav>

                {% block content %}{% endblock content %}
            </div>
        </main>
    </body>
</html>



