{% load django_bootstrap5 %}
{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <title>Git Lurker</title>

        {% bootstrap_css %}
        {% bootstrap_javascript %}
    </head>

    <body class="bg-dark">
        <main role="main" class="container text-light">
            <div>
                <nav class="navbar border-bottom border-bottom-dark" data-bs-theme="dark">
                    <div class="container-fluid">
                        <a class="navbar-brand text-light fs-3" href="{% url 'index' %}">
                            <img src="{% static 'lurkey_2_4.png' %}" alt="Follow" width="50" height="50" class="rounded d-inline-block align-text-middle">
                            Git Lurker
                        </a>
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link text-info" href="{% url 'support' %}"><i class="fas fa-info"></i>&nbsp;About/Support</a>
                            </li>
                        </ul>
                    </div>
                </nav>

                {% block content %}{% endblock content %}
            </div>
        </main>
    </body>
</html>



