{% extends "git_lurker/base.html" %}

{% block content %}
   
    <div class="container">
        <h1 class="fs-4 fw-semibold pt-2">Repository</h1>

        <ul class="list-group">
            {% if summary.description == "NONE REPORTED" %}
                <li class="list-group-item list-group-item-dark"><b>Info: </b>No details. <i>If you are the repository owner please update the description field in GitHub.</i></li>
            {% else %}
                <li class="list-group-item list-group-item-dark"><b>Info: </b>{{ summary.description }}</li>
            {% endif %}
            <li class="list-group-item list-group-item-dark"><b>Followers: </b>{{ summary.followers }}</li>
            <li class="list-group-item list-group-item-dark"><b>Forks: </b>{{ summary.forks }}</li>
            <li class="list-group-item list-group-item-dark"><b>Open Issues: </b>{{ summary.open_issues }}</li>
            <li class="list-group-item list-group-item-dark"><b>On GitHub: </b><a href="{{ summary.repo_url }}" target="_blank">{{ summary.name }}</a></li>
        </ul>

        <h1 class="fs-4 fw-semibold pt-2">Contributors</h1>
        <p>Note, only the top 50 contributors have been included for projects that have more than 50 contributors.</p>
        {% if team_members == "NONE" %}
            <p>No contributor data reported.</p>
        {% else %}
            <table class="table table-dark table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col"> </th>
                        <th scope="col">Handle</th>
                        <th scope="col">Name</th>
                        <th scope="col">Contributions</th>
                    </tr>
                </thead>
                {% for contrib in contribs %}
                <tbody>
                    <tr>
                        <td><a href="{{ contrib.github_url }}" target="_blank"><img src="{{ contrib.avatar_url }}" class="rounded mx-auto d-block" alt="avatar" style="width: 50px; height: 50px"></a></td>
                        <td>{{ contrib.handle }}</td>
                        <td>{{ contrib.name }}</td>
                        <td>{{ contrib.contributions }}</td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        {% endif %}
        <p class="text-info text-end">{{ latest_pull }}</p>
    </div>
{% endblock content %}
