{% extends "git_lurker/base.html" %}
{% load static %}

{% block content %}

<div class="container">
    <h1 class="fs-4 fw-semibold pt-2">About</h1>
    <p>
        This site tracks and summarizes a bunch of GitHub projects I am interested in.
        It is designed for quick reference purposes, therefore any projects info is limited. 
        Sometimes, a quick summary is all the info you need.
    </p>

    <p> 
        Don't be alarmed if some pages take time to load. If the data are older than 3 hours the application will fetch new data from the GitHub API.
        Otherwise, if the data are more recent it will be pulled from the back-end database.
    </p>
    <p>
        If you would like to request any features or the addition of any specific projects please feel free to drop an email to: <b class="text-info">gitlurker@proton.me</b>
    </p>
</div>
<div class="container border-top">
    <h1 class="fs-4 fw-semibold pt-2">Support</h1>
    <p> 
        Any support sats you would like to give are welcome. These will be used to cover site fees, or buy beer (most likely the latter).
    </p>
    
    <a href="https://getalby.com/p/mynima" target="_blank"><img class="img-thumbnail rounded mx-auto d-block p-2 mt-2" style="width: 200px; height: 100px" src="https://getalby.com/assets/alby-logo-head-da6c4355b69a3baac3fc306d47741c9394a825e54905ef67c5dd029146b89edf.svg" alt="GetAlby"></a>

    <p class="text-center p-2 fs-5 fw-light text-info">Lightning/BTC tips accepted, with help from Alby.<br> Cashu tips welcome via <a href="https://www.primal.net/p/npub1zwnx29tj2lnem8wvjcx7avm8l4unswlz6zatk0vxzeu62uqagcash7fhrf" target="_blank" class="text-decoration-none">Nostr</a>.</p>
    <!-- style text in purple -->
    <div>
        <a href="https://b-musketeers.com/" target="_blank"><img class="img-thumbnail rounded mx-auto d-block" style="width: 50px; height: 50px" src="{% static 'logo_alt.png' %}" alt="B-Musketeers"></a>
        <p class="text-center p-2 fs-8 fw-light ">Created by the ₿-Musketeers</p>
    </div>
</div>

{% endblock content %}
